*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    text-decoration: none;
}

 .container {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
 }
    

.box{
    background-color: aqua;
    padding: 30px;
    border: 2px solid black;
    width: 200px;
    height: 300px;


}
