*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    text-decoration: none;
}

.container{
    display: flex;
    height: 400px;
    padding: 10px;
    background-color: rgb(179, 185, 185);
    /* justify-content: space-around; */
    /* justify-content: flex-start; */
    justify-content: center;
     /* justify-content: flex-end; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */  
    /* flex-direction: row; */
     align-items: center;
     /* align-items: flex-start;
     align-items: flex-end; */




}

.Box{
    background-color: rgba(127, 98, 184, 0.966);
    color: rgb(20, 15, 24);
    width: 200px;
    padding: 20px;
    height: 300px; 
    margin: 30px; 
    border: 2px solid black ;
    text-align: center;


}